body{

margin: 0px;
}
header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: darkturquoise;
}

#left_header{
    display: flex;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
}

#right_header{

margin-right: 50px;
font-family: Arial, Helvetica, sans-serif;
}

#fond{
    height: 80vh;
    background-image: url(/images/fond.jpg);
    font-size: 100px;
    color: white ;
    text-align: center;
    padding-top: 15%;
    font-weight: 900;
}

#titre{
    background: black;
    font-family: Arial, Helvetica, sans-serif;
}
main{
    background: darkturquoise;
}

h1 { 
 color: white;
font-family:Arial, Helvetica, sans-serif;
margin-left: 40px;
}

.tailleimg { 
    height: 85px; 
    width: 85px;
    
}



#menu{

    display: flex;
    list-style-type: none;
    
    font-family: Arial, Helvetica, sans-serif;
}

li{

    margin-left: 20px;
    border: 2px solid white;
    padding: 15px;
    margin-right: 15px;
}
li:hover{
    background-color: white; 
}
li:hover a{
    color: darkturquoise;
}
a{

    text-decoration: none;
    color: white;
}
main{
    padding: 10px;
    
}
main h2{
    width: 100%;
    border-bottom: 2px solid white;
    line-height: 0.1em;
    margin: 10px 0 40px 0;

}
main h2 span{
    background-color: darkturquoise;
    padding: 10px;
}
#projets{
    padding: 19px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}
#project_list{
    display: flex;
    justify-content: space-evenly;
}
.project_card{
    margin-left: 5px;
    border: 2px solid white;
    padding: 5px;
    margin-right: 5px;
    width: 340px;
    text-align: center;
    
}
.project_tech img{
    
    height: 7vh;
}
h3{
    font-size: 25px;
}
#contacts{
    padding: 19px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

#formulaire{

    display: flex;
    width: 600px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    
}

#mail{

    display: flex;
    margin: auto;
    text-align: center;
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;

}
#commentaire_titre{
 font-family: Arial, Helvetica, sans-serif;
 padding-left: 19px;   
padding-bottom: 20px;
color: white;
}

#commentaire{

    padding-left: 110px;
    padding-top: 20px;
}

#envoyer{

    margin-left: 420px;
}
#lien1{
height: 9vh;
padding-left: 35px;
}

#lien2{
    
height: 9vh;
padding-left: 35px;
}

#footer_fond{
    background: darkturquoise;
}